{% extends 'layout.html' %}

{% block head %}
  {{ super() }}
  <title>{{ archive_name + ' - ' + archive_type + ' - ' + site.title }}</title>
{% endblock %}

{% block body %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{ 'Archive' if archive_type|lower != 'search' else 'Search' }}
        <i class="fa fa-fw fa-angle-right"></i>
      </h3>
    </div>
    <div class="panel-body">
      <article>
        <h1>{{ archive_type }}: {{ archive_name }}</h1>
        <hr>

        {% if not entries %}
          <p>{{ 'There is nothing here.' if archive_type|lower != 'search' else 'No results.' }}</p>
        {% else %}

          <table class="table table-hover">
            <tbody>
            {% for entry in entries %}
              <tr {%- if entry.meta.language %} lang="{{ entry.meta.language }}" {%- endif %}>
                <td class="text-right"
                    style="border-top: none; width: 15%;">{{ entry.created.strftime('%Y.%m.%d') if entry.created else '' }}</td>
                <td style="border-top: none"><a href="{{ entry.url }}">{{ entry.title }}</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        {% endif %}
      </article>
    </div>
  </div>

{% endblock %}